!  ██╗  ██╗
!  ╚██╗██╔╝
!   ╚███╔╝ 
!   ██╔██╗ 
!  ██╔╝ ██╗
!  ╚═╝  ╚═╝
! .Xresources

Xft.dpi:         96
Xft.antialias:   true
Xft.hinting:     true
Xft.rgba:        rgb
Xft.autohint:    false
Xft.hintstyle:   hintslight
Xft.lcdfilter:   lcddefault

!Xcursor.theme:  xcursor-breeze
!Xcursor.size:   0

! Nord https://git.io/nord
#define np1    #2E3440
#define np2    #3B4252
#define np3    #434C5E
#define np4    #4C566A
#define ns1    #D8DEE9
#define ns2    #E5E9F0
#define ns3    #ECEFF4
#define nf1    #8FBCBB
#define nf2    #88C0D0
#define nf3    #81A1C1
#define nf4    #5E81AC
#define na1    #BF616A
#define na2    #D08770
#define na3    #EBCB8B
#define na4    #A3BE8C
#define na5    #B48EAD

*background:   np1
*foreground:   ns1
*cursorColor:  ns1
*color0:       np2
*color8:       np4
*color1:       na1
*color9:       na1
*color2:       na4
*color10:      na4
*color3:       na3
*color11:      na3
*color4:       nf3
*color12:      nf3
*color5:       na5
*color13:      na5
*color6:       nf2
*color14:      nf1
*color7:       ns2
*color15:      ns3